<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="applicationContext-sns-dataSource.xml"/>
    <import resource="applicationContext-sns-idAddress.xml"/>

    <!--生产环境配置不同-->
    <import resource="applicationContext-sns-properties.xml"/>
    <import resource="applicationContext-sns-sql.xml"/>

    <bean id="storeBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="5000"/>
    </bean>
    <bean id="storeCommonProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer">
        <property name="jdbcTemplate" ref="sqlserverJdbcTemplate"/>
        <property name="blockingQueue" ref="storeBlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.store}"/>
    </bean>
    <bean id="storeCommonConsumer" class="cn.memedai.orientdb.teleporter.sns.common.consumer.StoreCommonConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="storeBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
        <property name="sql"
                  value="#{snsOrientSqlProp.store}"/>
        <property name="sqlParameterNames">
            <array>
                <value>STOREID</value>
                <value>MERCHANTID</value>
                <value>STORENAME</value>
                <value>PROVINCE</value>
                <value>CITY</value>
                <value>CREDIT_LIMIT_TYPE</value>
                <value>POLICY_BRACKET</value>
                <value>BUSINESS_FIRST_TYPE</value>
                <value>STOREID</value>
            </array>
        </property>
    </bean>


    <bean id="memberOverdueBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="memberOverdueCommonProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer"
          scope="prototype">
        <property name="jdbcTemplate" ref="sqlserverJdbcTemplate"/>
        <property name="blockingQueue" ref="memberOverdueBlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.memberOverdue}"/>
    </bean>
    <bean id="memberOverdueCommonConsumer"
          class="cn.memedai.orientdb.teleporter.BlockingQueueDataConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="memberOverdueBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
        <property name="sql"
                  value="#{snsOrientSqlProp.updateMemberOverdueToTrue}"/>
        <property name="sqlParameterNames">
            <array>
                <value>BORROWER_ID</value>
            </array>
        </property>
    </bean>


    <bean id="phoneWithPhoneMarkAndPhoneSourceBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="phoneWithPhoneMarkAndPhoneSourceCommonConsumer"
          class="cn.memedai.orientdb.teleporter.sns.common.consumer.PhoneAndPhoneMarkAndPhoneSourceCommonConsumer"
          scope="prototype">
        <property name="documentTxFactory" ref="documentTxFactory"/>
        <property name="blockingQueue" ref="phoneWithPhoneMarkAndPhoneSourceBlockingQueue"/>
    </bean>


    <bean id="applyBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="applyCommonConsumer" class="cn.memedai.orientdb.teleporter.sns.common.consumer.ApplyCommonConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="applyBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
        <property name="sql"
                  value="#{snsOrientSqlProp.apply}"/>
        <property name="sqlParameterNames">
            <array>
                <value>apply_no</value>
                <value>status</value>
                <value>original_status</value>
                <value>created_datetime</value>
                <value>apply_no</value>
            </array>
        </property>
    </bean>


    <bean id="orderBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="orderCommonConsumer" class="cn.memedai.orientdb.teleporter.sns.common.consumer.OrderCommonConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="orderBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
        <property name="sql"
                  value="#{snsOrientSqlProp.order}"/>
        <property name="sqlParameterNames">
            <array>
                <value>order_no</value>
                <value>status</value>
                <value>original_status</value>
                <value>pay_amount</value>
                <value>created_datetime</value>
                <value>order_no</value>
            </array>
        </property>
    </bean>


    <bean id="device2CaBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="device2CaCommonConsumer"
          class="cn.memedai.orientdb.teleporter.sns.common.consumer.Device2CaCommonConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="device2CaBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
    </bean>


    <bean id="ip2CaBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="ip2CaCommonConsumer" class="cn.memedai.orientdb.teleporter.sns.common.consumer.Ip2CaCommonConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="ip2CaBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
    </bean>

    <bean id="device2CtaBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="device2CtaCommonConsumer"
          class="cn.memedai.orientdb.teleporter.sns.common.consumer.Device2CtaCommonConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="device2CtaBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
    </bean>

    <bean id="ip2CtaBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="ip2CtaCommonConsumer"
          class="cn.memedai.orientdb.teleporter.sns.common.consumer.Ip2CtaCommonConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="ip2CtaBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
    </bean>

</beans>