<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="cn.memedai.orientdb.teleporter"/>

    <import resource="applicationContext-sns-dataSource.xml"/>
    <import resource="applicationContext-sns-properties.xml"/>
    <import resource="applicationContext-sns-common.xml"/>
    <import resource="applicationContext-sns-sql.xml"/>

    <bean id="memberBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="memberIncrementProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer"
          scope="prototype">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="memberBlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.member}"/>
    </bean>
    <bean id="memberIncrementConsumer"
          class="cn.memedai.orientdb.teleporter.sns.increment.consumer.MemberIncrementConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="memberBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
        <property name="sql"
                  value="#{snsOrientSqlProp.member}"/>
        <property name="sqlParameterNames">
            <array>
                <value>MEMBER_ID</value>
                <value>NAME</value>
                <value>ID_NO</value>
                <value>PROVINCE</value>
                <value>CITY</value>
                <value>MEMBER_ID</value>
            </array>
        </property>
    </bean>

    <bean id="applyIncrementProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer"
          scope="prototype">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="applyBlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.apply} where created_datetime >='#{snsService.getStartDatetime('',1)}' or modified_datetime >='#{snsService.getStartDatetime('',1)}'  limit ?,?"/>
    </bean>


    <bean id="orderIncrementProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="orderBlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.order} where created_datetime >='#{snsService.getStartDatetime('',1)}' or modified_datetime >='#{snsService.getStartDatetime('',1)}'  limit ?,?"/>
    </bean>


    <bean id="device2CaIncrementProducer"
          class="cn.memedai.orientdb.teleporter.sns.increment.producer.Device2CaIncrementProducer"
          scope="prototype">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="device2CaBlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.device2Ca} AND APPL_NO IN (#inDataList)"/>
    </bean>


    <bean id="ip2CaIncrementProducer"
          class="cn.memedai.orientdb.teleporter.sns.increment.producer.Ip2CaIncrementProducer"
          scope="prototype">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="ip2CaBlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.ip2Ca} and APPL_NO IN (#inDataList)"/>
    </bean>


    <bean id="deviceAndIp2CtaIncrementProducer"
          class="cn.memedai.orientdb.teleporter.sns.increment.producer.DeviceAndIp2CtaIncrementProducer">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="deviceAndIp2CtaBlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.deviceAndIp2Cta} AND ORDER_ID IN (#inDataList)"/>
    </bean>


    <bean id="phoneWithPhoneMarkAndPhoneSourceIncrementProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="phoneWithPhoneMarkAndPhoneSourceBlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.phoneWithPhoneMarkAndPhoneSource} and UP_DATE>='#{snsService.getStartDatetime('',1)}'  limit ?,?"/>
    </bean>


    <bean id="phoneWithCall2BlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="phoneWithCallTo2IncrementProducer"
          class="cn.memedai.orientdb.teleporter.sns.common.producer.PhoneWithCallTo2CommonProducer"
          scope="prototype">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="phoneWithCall2BlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.phoneWithCallTo2} where #subSql limit ?,?"/>
    </bean>
    <bean id="phoneWithCallTo2IncrementConsumer"
          class="cn.memedai.orientdb.teleporter.sns.increment.consumer.PhoneWithCallTo2IncrementConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="phoneWithCall2BlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
    </bean>

    <util:map id="teleporterMap" key-type="java.lang.Integer" value-type="java.util.List">
        <!-- key的大小决定着优先执行顺序, 同一个key的producer和consumer会并发执行-->
        <entry key="10">
            <list>
                <ref bean="storeCommonProducer"/>
                <ref bean="storeCommonConsumer"/>

                <ref bean="memberIncrementProducer"/>
                <ref bean="memberIncrementConsumer"/>
                <ref bean="memberIncrementConsumer"/>
                <ref bean="memberIncrementConsumer"/>

                <ref bean="applyIncrementProducer"/>
                <ref bean="applyCommonConsumer"/>

                <ref bean="orderIncrementProducer"/>
                <ref bean="orderCommonConsumer"/>

                <ref bean="updateMemberOverdueToDefaultCommonConsumer"/>

                <ref bean="phoneWithPhoneMarkAndPhoneSourceIncrementProducer"/>
                <ref bean="phoneWithPhoneMarkAndPhoneSourceCommonConsumer"/>
            </list>
        </entry>

        <entry key="20">
            <list>
                <ref bean="memberOverdueCommonProducer"/>
                <ref bean="memberOverdueCommonConsumer"/>

                <ref bean="device2CaIncrementProducer"/>
                <ref bean="device2CaCommonConsumer"/>

                <ref bean="ip2CaIncrementProducer"/>
                <ref bean="ip2CaCommonConsumer"/>

                <ref bean="deviceAndIp2CtaIncrementProducer"/>
                <ref bean="deviceAndIp2CtaCommonConsumer"/>
            </list>
        </entry>

        <entry key="30">
            <list>
                <ref bean="hasApplyIncrementConsumer"/>
                <ref bean="hasDeviceIncrementConsumer"/>
                <ref bean="hasIpIncrementConsumer"/>
                <ref bean="hasOrderIncrementConsumer"/>
                <ref bean="hasPhoneIncrementConsumer"/>
                <ref bean="hasStoreIncrementConsumer"/>
            </list>
        </entry>

        <entry key="40">
            <list>
                <ref bean="phoneWithCallTo2IncrementProducer"/>
                <ref bean="phoneWithCallTo2IncrementConsumer"/>
            </list>
        </entry>

        <entry key="50">
            <list>
                <ref bean="duplicatedPhoneCallToIncrementConsumer"/>
            </list>
        </entry>

    </util:map>

</beans>