<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--迁移CallTo及手机标签等支持增量及不变的数据，作为一个数据基线 -->

    <context:annotation-config/>
    <context:component-scan base-package="cn.memedai.orientdb.teleporter"/>

    <import resource="applicationContext-sns-dataSource.xml"/>
    <import resource="applicationContext-sns-properties.xml"/>
    <import resource="applicationContext-sns-sql.xml"/>
    <import resource="applicationContext-sns-common.xml"/>
    <import resource="applicationContext-sns-full-common.xml"/>


    <bean id="phoneWithCall1BlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="phoneWithCallTo1FullProducer" class="cn.memedai.orientdb.teleporter.FileDataProducer"
          scope="prototype">
        <property name="filePath"
                  value="#{snsProp.phoneWithCallTo1FilePath}"/>
        <property name="blockingQueue" ref="phoneWithCall1BlockingQueue"/>
        <property name="skipCount" value="#{snsProp.skipCount}"/>
    </bean>
    <bean id="phoneWithCallTo1FullConsumer"
          class="cn.memedai.orientdb.teleporter.sns.full.consumer.PhoneWithCallTo1FullConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="phoneWithCall1BlockingQueue"/>
    </bean>


    <bean id="phoneWithCallTo2FullProducer"
          class="cn.memedai.orientdb.teleporter.sns.common.producer.PhoneWithCallTo2CommonProducer"
          scope="prototype">
        <property name="jdbcTemplate" ref="caJdbcTemplate"/>
        <property name="blockingQueue" ref="phoneWithCall2BlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.phoneWithCallTo2} limit ?,?"/>
    </bean>


    <bean id="phoneWithPhoneMarkAndPhoneSourceFullProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer">
        <property name="jdbcTemplate" ref="caJdbcTemplate"/>
        <property name="blockingQueue" ref="phoneWithPhoneMarkAndPhoneSourceBlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.phoneWithPhoneMarkAndPhoneSource}  limit ?,?"/>
    </bean>


    <util:map id="teleporterMap" key-type="java.lang.Integer" value-type="java.util.List">
        <!-- key的大小决定着优先执行顺序, 同一个key的producer和consumer会并发执行-->
        <entry key="10">
            <list>
                <ref bean="phoneWithCallToCache01Producer"/>
                <ref bean="phoneWithCallToCache01Consumer"/>
            </list>
        </entry>
        <entry key="11">
            <list>
                <ref bean="phoneWithCallToCache02Producer"/>
                <ref bean="phoneWithCallToCache02Consumer"/>
            </list>
        </entry>

        <entry key="20">
            <list>
                <ref bean="phoneWithCallTo1FullProducer"/>
                <ref bean="phoneWithCallTo1FullConsumer"/>

                <ref bean="phoneWithCallTo2FullProducer"/>
                <ref bean="phoneWithCallTo2FullConsumer"/>

                <ref bean="phoneWithPhoneMarkAndPhoneSourceFullProducer"/>
                <ref bean="phoneWithPhoneMarkAndPhoneSourceCommonConsumer"/>
            </list>
        </entry>

        <entry key="30">
            <list>
                <ref bean="deleteDuplicatedCallToProducer"/>
                <ref bean="deleteDuplicatedCallToConsumer"/>
            </list>
        </entry>

    </util:map>

</beans>