<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="cn.memedai.orientdb.teleporter"/>

    <import resource="applicationContext-sns-dataSource.xml"/>
    <import resource="applicationContext-sns-properties.xml"/>
    <import resource="applicationContext-sns-common.xml"/>


    <bean id="phoneWithCall1BlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="phoneWithCallTo1Producer" class="cn.memedai.orientdb.teleporter.FileDataProducer"
          scope="prototype">
        <property name="filePath"
                  value="#{snsProp.phoneWithCallTo1FilePath}"/>
        <property name="blockingQueue" ref="phoneWithCall1BlockingQueue"/>
        <property name="skipCount" value="#{snsProp.skipCount}"/>
    </bean>
    <bean id="phoneWithCallTo1Consumer"
          class="cn.memedai.orientdb.teleporter.sns.full.consumer.PhoneWithCallTo1Consumer"
          scope="prototype">
        <property name="blockingQueue" ref="phoneWithCall1BlockingQueue"/>
    </bean>


    <bean id="phoneWithCallTo2Producer"
          class="cn.memedai.orientdb.teleporter.sns.common.consumer.PhoneWithCallTo2Producer"
          scope="prototype">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="phoneWithCall2BlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.phoneWithCallTo2} limit ?,?"/>
    </bean>


    <bean id="phoneWithPhoneMarkAndPhoneSourceProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="phoneWithPhoneMarkAndPhoneSourceBlockingQueue"/>
        <property name="sql"
                  value="#{snsSqlProp.phoneWithPhoneMarkAndPhoneSource}  limit ?,?"/>
    </bean>

    <util:map id="teleporterMap" key-type="java.lang.Integer" value-type="java.util.List">
        <!-- key的大小决定着优先执行顺序, 同一个key的producer和consumer会并发执行-->
        <entry key="10">
            <list>
                <ref bean="phoneWithCallToCacheProducer"/>
                <ref bean="phoneWithCallToCacheConsumer"/>
            </list>
        </entry>

        <entry key="20">
            <list>
                <ref bean="phoneWithCallTo1Producer"/>
                <ref bean="phoneWithCallTo1Consumer"/>
                <ref bean="phoneWithCallTo1Consumer"/>

                <ref bean="phoneWithCallTo2Producer"/>
                <ref bean="phoneWithCallTo2Consumer"/>
                <ref bean="phoneWithCallTo2Consumer"/>

                <ref bean="phoneWithPhoneMarkAndPhoneSourceProducer"/>
                <ref bean="phoneWithPhoneMarkAndPhoneSourceConsumer"/>
                <ref bean="phoneWithPhoneMarkAndPhoneSourceConsumer"/>
            </list>
        </entry>

        <entry key="30">
            <list>
                <ref bean="deleteDuplicatedCallToProducer"/>
                <ref bean="deleteDuplicatedCallToConsumer"/>
            </list>
        </entry>

        <entry key="40">
            <list>
                <ref bean="reexecuteErrorSqlConsumer"/>
            </list>
        </entry>

    </util:map>

</beans>