<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="orientdbProp">
        <prop key="url">remote:localhost/sns</prop>
        <prop key="userName">admin</prop>
        <prop key="password">admin</prop>
    </util:properties>

    <util:properties id="orientdbSqlperformanceProp">
        <prop key="url">remote:localhost/performance</prop>
        <prop key="userName">admin</prop>
        <prop key="password">admin</prop>
    </util:properties>

    <util:properties id="caDbProp">
        <prop key="driver">com.mysql.jdbc.Driver</prop>
        <prop key="url">jdbc:mysql://115.29.177.124:3306/MERCHANTAUDIT</prop>
        <prop key="userName">kisho.dai</prop>
        <prop key="password">djK0OyeHP</prop>
    </util:properties>

    <util:properties id="ctaDbProp">
        <prop key="driver">com.mysql.jdbc.Driver</prop>
        <prop key="url">jdbc:mysql://115.29.177.124:3306/MERCHANTAUDIT</prop>
        <prop key="userName">kisho.dai</prop>
        <prop key="password">djK0OyeHP</prop>
    </util:properties>

    <util:properties id="walletAndSnsDbProp">
        <prop key="driver">com.mysql.jdbc.Driver</prop>
        <prop key="url">jdbc:mysql://115.29.177.124:3306/MERCHANTAUDIT</prop>
        <prop key="userName">kisho.dai</prop>
        <prop key="password">djK0OyeHP</prop>
    </util:properties>

    <util:properties id="sqlserverDbProp">
        <prop key="driver">com.mysql.jdbc.Driver</prop>
        <!--com.microsoft.jdbc.sqlserver.SQLServerDriver-->
        <prop key="url">jdbc:mysql://115.29.177.124:3306/MERCHANTAUDIT</prop>
        <prop key="userName">kisho.dai</prop>
        <prop key="password">djK0OyeHP</prop>
    </util:properties>

    <util:properties id="mailProp">
        <prop key="mail.smtp.host">smtp.163.com</prop>
        <prop key="mail.smtp.port">25</prop>
        <prop key="mail.smtp.auth">true</prop>

        <prop key="mail.from.user">mime15821180279@163.com</prop>
        <prop key="mail.from.password">ComM3416225611</prop>
        <prop key="mail.from.displayName">Mime OrientDB Teleporter</prop>

        <prop key="mail.subject">OrientDB Teleporter Performance</prop>
        <prop key="mail.to.user">kisho.dai@mi-me.com,yu.hang@nan-mi.cn,ti.zhou@mi-me.com</prop>
    </util:properties>


    <util:properties id="snsProp">
        <prop key="defaultBlockingQueueSize">40000</prop>
        <prop key="callToLastReadRecordPath">/home/orientdb/migration_script/v2/callTo_lastReadRecord.properties</prop>
        <prop key="skipCount">0</prop>
        <prop key="phoneWithCallTo1FilePath">D:\D_JXL_CONTACTLIST.csv</prop>
        <prop key="assignedStartDatetime"></prop>
        <prop key="assignedEndDatetime"></prop>
    </util:properties>

</beans>