<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="cn.memedai.orientdb.teleporter"/>

    <import resource="applicationContext-sns-dataSource.xml"/>
    <import resource="applicationContext-sns-properties.xml"/>

    <bean id="deleteEdgesConsumer" class="cn.memedai.orientdb.teleporter.sns.full.consumer.DeleteEdgeConsumer"
          scope="prototype">
        <property name="edges">
            <array>
                <value>HasIp</value>
                <value>HasDevice</value>
                <value>HasPhone</value>
                <value>HasStore</value>
                <value>HasApply</value>
                <value>HasOrder</value>
            </array>
        </property>
        <property name="documentTxFactory" ref="documentTxFactory"/>
    </bean>

    <bean id="storeBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="10000"/>
    </bean>
    <bean id="storeProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="storeBlockingQueue"/>
        <property name="sql"
                  value="select a.STOREID,a.MERCHANTID,a.STORENAME,a.PROVINCE,a.CITY,b.MERCHANT_TEMPLATE_TYPE from MERCHANTAUDIT.ma_store_baseinfo a inner join MERCHANTAUDIT.ma_merchant_baseinfo b on a.merchantid = b.merchantid limit ?,?"/>
    </bean>
    <bean id="storeConsumer" class="cn.memedai.orientdb.teleporter.sns.common.consumer.StoreConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="storeBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
        <property name="sql"
                  value="update Store set storeId=?,merchantId=?,storeName=?,province=?,city=?,industryType=? upsert return after where storeId = ?"/>
        <property name="sqlParameterNames">
            <array>
                <value>STOREID</value>
                <value>MERCHANTID</value>
                <value>STORENAME</value>
                <value>PROVINCE</value>
                <value>CITY</value>
                <value>MERCHANT_TEMPLATE_TYPE</value>
                <value>STOREID</value>
            </array>
        </property>
    </bean>


    <bean id="memberBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="memberProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer"
          scope="prototype">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="memberBlockingQueue"/>
        <property name="sql"
                  value="select a.MEMBER_ID,a.MOBILE_NO,b.`NAME`,b.ID_NO from memedai.MEMBER a LEFT JOIN memedai.ID_CARD b on a.MEMBER_ID = b.MEMBER_ID limit ?,?"/>
    </bean>
    <bean id="memberConsumer" class="cn.memedai.orientdb.teleporter.sns.full.consumer.MemberConsumer"
          scope="prototype">
        <property name="documentTxFactory" ref="documentTxFactory"/>
        <property name="blockingQueue" ref="memberBlockingQueue"/>
        <property name="sql"
                  value="update Member set memberId=?,name=?,idNo=?,isBlack=false upsert return after where memberId=?"/>
        <property name="sqlParameterNames">
            <array>
                <value>MEMBER_ID</value>
                <value>NAME</value>
                <value>ID_NO</value>
                <value>MEMBER_ID</value>
            </array>
        </property>
    </bean>

    <bean id="applyBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="applyProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer"
          scope="prototype">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="applyBlockingQueue"/>
        <property name="sql"
                  value="SELECT cellphone,member_id,apply_no,created_datetime,apply_status,store_id,order_no FROM network.apply_info limit ?,?"/>
    </bean>
    <bean id="applyConsumer" class="cn.memedai.orientdb.teleporter.sns.common.consumer.ApplyConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="applyBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
        <property name="sql"
                  value="update Apply set applyNo=?,status=?,createdDatetime=? upsert return after where applyNo=?"/>
        <property name="sqlParameterNames">
            <array>
                <value>apply_no</value>
                <value>apply_status</value>
                <value>created_datetime</value>
                <value>apply_no</value>
            </array>
        </property>
    </bean>


    <bean id="orderBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="orderProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="orderBlockingQueue"/>
        <property name="sql"
                  value="SELECT mobile,member_id,order_no,created_datetime,status,store_id from network.money_box_order  limit ?,?"/>
    </bean>
    <bean id="orderConsumer" class="cn.memedai.orientdb.teleporter.sns.common.consumer.OrderConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="orderBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
        <property name="sql"
                  value="update Order set orderNo=?,status=?,createdDatetime=? upsert return after where orderNo=?"/>
        <property name="sqlParameterNames">
            <array>
                <value>order_no</value>
                <value>status</value>
                <value>created_datetime</value>
                <value>order_no</value>
            </array>
        </property>
    </bean>


    <bean id="deviceAndIp1BlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="deviceAndIp1Producer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="deviceAndIp1BlockingQueue"/>
        <property name="sql"
                  value="SELECT APPL_NO,DEVICE_ID,IP,IP_CITY FROM memedai.A_APPL where device_id is not null or ip is not null  limit ?,?"/>
    </bean>
    <bean id="deviceAndIp1Consumer"
          class="cn.memedai.orientdb.teleporter.sns.full.consumer.DeviceAndIp1Consumer"
          scope="prototype">
        <property name="documentTxFactory" ref="documentTxFactory"/>
        <property name="blockingQueue" ref="deviceAndIp1BlockingQueue"/>
    </bean>


    <bean id="device2CaBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="device2CaProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="device2CaBlockingQueue"/>
        <property name="sql"
                  value="SELECT APPL_NO,DEVICE_ID FROM network.ca_appl_member_device where DEVICE_ID is not null  limit ?,?"/>
    </bean>
    <bean id="device2CaConsumer" class="cn.memedai.orientdb.teleporter.sns.common.consumer.Device2CaConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="device2CaBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
    </bean>


    <bean id="ip2CaBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="ip2CaProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer"
          scope="prototype">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="ip2CaBlockingQueue"/>
        <property name="sql"
                  value="SELECT APPL_NO,IP,IP_CITY  FROM network.ca_appl_member_device where IP is not null  limit ?,?"/>
    </bean>
    <bean id="ip2CaConsumer" class="cn.memedai.orientdb.teleporter.sns.common.consumer.Ip2CaConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="ip2CaBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
    </bean>


    <bean id="deviceAndIp2CtaBlockingQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0" value="#{snsProp.defaultBlockingQueueSize}"/>
    </bean>
    <bean id="deviceAndIp2CtaProducer" class="cn.memedai.orientdb.teleporter.JdbcDataProducer"
          scope="prototype">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="blockingQueue" ref="deviceAndIp2CtaBlockingQueue"/>
        <property name="sql"
                  value="SELECT ORDER_ID,DEVICE_ID,IP,IP_CITY from network.cta_order_deviceinfo where ip is not null  limit ?,?"/>
    </bean>
    <bean id="deviceAndIp2CtaConsumer"
          class="cn.memedai.orientdb.teleporter.sns.common.consumer.DeviceAndIp2CtaConsumer"
          scope="prototype">
        <property name="blockingQueue" ref="deviceAndIp2CtaBlockingQueue"/>
        <property name="documentTxFactory" ref="documentTxFactory"/>
    </bean>


    <util:map id="teleporterMap" key-type="java.lang.Integer" value-type="java.util.List">
        <!-- key的大小决定着优先执行顺序-->
        <entry key="10">
            <list>
                <ref bean="deleteEdgesConsumer"/>
            </list>
        </entry>

        <entry key="20">
            <list>
                <ref bean="cacheDeviceConsumer"/>
                <ref bean="cacheIpConsumer"/>
            </list>
        </entry>

        <entry key="30">
            <list>
                <ref bean="storeProducer"/>
                <ref bean="storeConsumer"/>

                <ref bean="memberProducer"/>
                <ref bean="memberConsumer"/>
                <ref bean="memberConsumer"/>
                <ref bean="memberConsumer"/>
            </list>
        </entry>

        <entry key="31">
            <list>
                <ref bean="applyProducer"/>
                <ref bean="applyConsumer"/>

                <ref bean="orderProducer"/>
                <ref bean="orderConsumer"/>
            </list>
        </entry>

        <entry key="32">
            <list>
                <ref bean="device2CaProducer"/>
                <ref bean="device2CaConsumer"/>

                <ref bean="ip2CaProducer"/>
                <ref bean="ip2CaConsumer"/>

                <ref bean="deviceAndIp1Producer"/>
                <ref bean="deviceAndIp1Consumer"/>

                <ref bean="deviceAndIp2CtaProducer"/>
                <ref bean="deviceAndIp2CtaConsumer"/>
            </list>
        </entry>

        <entry key="40">
            <list>
                <ref bean="hasStoreConsumer"/>
                <ref bean="hasOrderConsumer"/>
                <ref bean="hasIpConsumer"/>
                <ref bean="hasDeviceConsumer"/>
                <ref bean="hasApplyConsumer"/>
                <ref bean="hasPhoneConsumer"/>
            </list>
        </entry>

        <entry key="50">
            <list>
                <ref bean="reexecuteErrorSqlConsumer"/>
            </list>
        </entry>

    </util:map>

</beans>